
/* ----- FOR MAIN LAYOUT SECTIONS ----- */

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

#intro-page {
    width: 100%;
    display: inline;
    

}

#intro-logo:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    border: 15px solid rgb(255, 230, 150);
    border-radius: 75px;
    box-shadow: 5px 5px 3px grey;
    animation-name: intro-flash-outer;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;


  }

#intro-logo {
    width: 50%;
    position: relative;
    transform: translate(50%, 50%);
    font-family: 'Martel Sans', sans-serif;
    /* text-shadow: 2px 2px 1px white; */
    font-size: 75px;
    font-weight: bolder;
    vertical-align: middle;
    /* border: 5px solid orange; */
    background-color: rgb(220, 220, 220);
    border-radius: 50px;
    animation-name: intro-flash;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

/* To improve animation transitions */

@keyframes intro-flash {
    0%   {background-color: rgb(220, 220, 220); color: black;}
    50%  {background-color: rgb(255, 230, 150); color: black;} 
    100% {background-color: rgb(200, 90, 90); color: white;}
}

@keyframes intro-flash-outer {
    0%   {border-color: rgb(255, 230, 150);}
    50%  {border-color: rgb(220, 220, 220);} 
    100% {border-color: rgb(220, 220, 220);}
}



#intro-footer {
    width: 100%;
    position: relative;
    transform: translate(0%, 300%);
    padding-top: 15px;
    display: block;

}



#game-page {

    display: none;

}

#section-top {
    width: 100%;
    height: 25vh;
    padding: 0;
    /* margin-bottom: 30px; */
    padding: 25px 50px 50px 50px;
    text-align: left;
}

#section-top h1 {
    font-family: 'Martel Sans', sans-serif;
}

#section-middle {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;

}

#section-bottom {
    width: 100%;
    /* height: 50vh; */
    display: inline-block;

}

/* ----- SECTION TOP ----- */

#section-top h1 {
    width: 60%;
    float: left;
    font-family: 'Martel Sans', sans-serif;
}

#timer-display {
    width: 40%;
    float: right;
    margin-top: 15px;
    text-align: right;
    font-size: 12px;

}

#progress-display {
    width: 40%;
    float: right;
    /* margin-top: 5px; */
    text-align: right;
    font-size: 12px;

}


/* ----- SECTION MIDDLE ----- */

#puzzle-div {
    width: 60%;
    float: left;
    vertical-align: middle;
    padding-top: 50px;
    padding-right: 50px;

}


#wheel-div {
    width: 40%;
    float: right;
    vertical-align: top;
    padding-right: 0; /* amend Bootstrap */
    padding-left: 0; /* amend Bootstrap */
    margin-right: 0; /* amend Bootstrap */
    margin-left: 0; /* amend Bootstrap */

}

/* ----- SECTION BOTTOM ----- */


#score-div:before {
    content: open-quote;
    font-family: 'Roboto Slab', serif;
    margin-left: 0px;
    /* padding-right: 20px; */
    font-size: 35px;
    text-align: left;
    display: block;
    
}

#score-div:after {
    content: close-quote;
    font-family: 'Roboto Slab', serif;
    margin-right: 0px;
    /* padding-left: 30px; */
    font-size: 35px;
    text-align: right;
    display: block;
}

#score-div {
    width: 40%;
    height: 125px;
    float: left;
    vertical-align: top;
    /* width: 350px; */
    /* border: 1px solid grey; */
    text-align: center;
    color: black;
    /* vertical-align: middle; */

}

#input-div {
    width: 40%;
    float: right;
    padding-top: 15px;
    text-align: center;

}

#buttons-div {
    width: 40%;
    float: right;
    margin-top: 50px;
    text-align: center;

}

/* ----- FOR PUZZLE BOARD ----- */

.square-box {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background: white;
    margin-bottom: 10px;
}

.square-text {
    background-color: white;
    color: white;
    /* display: none; */

}

.square-display {
    background-color: white;
    color: black;
    /* display: none; */

}

.square-light {
    background-color: white;
    color: black;
    animation-name: light-flash;
    animation-duration: 3s;
}

.square-blank {
    /* background: #3D9970;
    color: #3D9970; */
    background-color: white;
    color: white;
    border: 0px;

}

@keyframes light-flash {
    0%   {background-color: yellow; color: white;}
    50%  {background-color: yellow; color: black;} 
    100% {background-color: white; color: black;}
}

/* ----- FOR MESSAGE BOARD DISPLAY ----- */


/* .msg-delay {
    color: black;
    animation-name: msg-delay;
    animation-duration: 3s;

}

@keyframes msg-delay {
    0%   {opacity: 0}
    100% {opacity: 1}
} */



/* ----- FOR MODAL DISPLAY (IF USING) ----- */

/* check if using */
/* .modal-popup {
    width: 100%;
    position: fixed;
    left: 0;
    top: 100px;
    display: none; /* modify to block */
    /* z-index: 1;
} */

/* .modal-popup .content {
    background: white;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
} */


/* ----- FOR WHEEL ----- */

text {
    /* font-family:Helvetica, Arial, sans-serif; */
    font-size: 11px;
    pointer-events:none;
}

/* Actual Wheel */
#chart {
    /* position:absolute; */
    /* width:500px;
    height:500px; */
    width:300px;
    height:300px;
    padding: 0;
    margin: 0;
    float: top;
    /* top:0;
    left:0; */
    display: none;  /* only turn on when game starts */
}

/* Wheel Image only */
#wheel-img {
    width:300px;
    height:300px;
    padding: 0;
    margin: 0;
    float: top;
    display: inline;
}



/* @keyframes flying {
    0% {
      transform: rotate(0deg) scale(0);
    }
  
    100% {
      transform: rotate(3600deg) scale(1);
    }
  }
  
  .newspaper {
      /* animation: flying 3s linear 1 forwards; */
      /* animation: flying 3s ease-in-out 1 forwards; */
  
  /* } */